*{
    font-family: "Lato", sans-serif;
    color: #262626;
    font-weight: 400;
    transition: all 0.5s;
    cursor:  url('../Images/ClassicWhiteNormalSelect.cur'), auto;
}
button{
    color: white;
    background-color: #AFC8AD;
    border: 1px solid #AFC8AD;
}
button:active{
    transform: scale(0.9);
    color: #88AB8E;
    background-color: white;
    border: 1px solid #88AB8E;
}
body{
    margin: 0;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 100;
    padding: unset;
    -ms-overflow-style: none; 
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 90;
    color: #262626;
  }
#history::-webkit-scrollbar , #profile::-webkit-scrollbar{
  display: none;
}

nav{
    all: unset;
    height: 94vh;
    padding-top: 6vh;
    width: 10vw;
    position: absolute;
    left: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #ffe658;
    z-index: 998;
    transition: all 0.4s ease-in;
    border-right: 1px solid #bebebe;
    margin: 0;
}
nav img{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-bottom: 1vh;
}
#homeicon, #profileicon, #reporticon, #historyicon, #settingsicon{
    width: 9vw;
    height: 5vh;
    border-radius: 1vh;
    padding-left: 1vw;
    font-size: 2vh;
    display: flex;
    justify-content: start;
    column-gap: 1vw;
    align-items: center;
    background-color: transparent;
    margin-top: unset;
}
#homeicon{
    margin-top: 4vh;
}
nav p:hover{
    transform: scale(1.1);
}
#home{
    position: absolute;
    padding-top: 2vh;
    padding-bottom: 2vh;
    left: 11vw;
    width: 35vw;
    height: 100vh;
    border-radius: 1vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 997;
    background-color: #F2F1EB;
    /* background: rgba(0, 0, 0, 0.205); */
    /* backdrop-filter: blur(10px); */
    row-gap: 2vh;
    transition: all 0.5s ease-in;
    animation: slideright .4s linear;
}
#home select, #profile select{
    border: none;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 24vw;
    height: 5vh;
    padding-left: 1vh;
}
option{
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}
#home select:focus, #profile select:focus{
    outline: none;
    border-bottom: 1px solid #AFC8AD;
}
#home input:focus{
    outline: none;
    border-bottom: 1px solid #AFC8AD;
}
#home input{
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 24vw;
    height: 5vh;
    padding-left: 1.5vh;
}
.bottom{
    width: 100%;
    height: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    row-gap: 1vh;
    align-items: center;
}
.bottom-image, .top-image{
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1vh;
}
.bottom-image img, .top-image img{
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
}
.bottom-details, .top-details{
    width: 25vw;
    height: 100%;
}

.seats{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#home .seats select{
    width: 12vw;
    border-radius: 1vh;
    margin-top: 1vh;
}
.buttonss{
    margin-top: 1vh;
    display: flex;
    width: 24vw;
    justify-content: space-between;
}
#home button{
    width: 11vw;
    height: 5vh;
    border: 1px solid #AFC8AD;
    background-color: #AFC8AD;
}
#home button:hover{
    color: #88AB8E;
    background-color: white;
    border: 1px solid #88AB8E;
}
#profile{
    position: absolute;
    left: 11vw;
    top: 2vh;
    width: 35vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    height: 88vh;
    overflow-y: scroll;
    border-radius: 1vw;
    display: none;
    flex-direction: column;
    z-index: 997;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F1EB;
    /* background: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(10px); */
    animation: slideright .4s linear forwards;
}
.profile-image{
    width: 35vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
.profile-details{
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-image img{
    width: 15vw;
    height: 15vw;
    border-radius: 1vw;
    aspect-ratio: 1/1;
    margin-bottom: 5vh;
}
#profile h3{
    width: 24.5vw;
    height: 3vh;
    display: flex;
    justify-content: start;
    align-items: center;
}
#profile h3:first{
    justify-content: center;
}
#profile input{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    width: 23vw;
    height: 5vh;
    padding-left: 1.5vh;
}
#profile input:focus{
    outline: none;
    border-bottom: 1px solid #AFC8AD;
}
.mybutton{
    width: 35vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#profile button{
    width: 23vw;
    height: 6vh;
    border: 1px solid #AFC8AD;
    background-color: #AFC8AD;
    margin-left: .5vw;
}
#profile button:hover{
    color: #BB86FC;
    background-color: white;
    border: 1px solid #88AB8E;
}
.profile-image p{
    color: black;
    width: 35vw;
    font-size: .8vw;
}
#history{
    overflow-y: scroll;
    position: absolute;
    left: 11vw;
    border-radius: 1vw;
    width: 35vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    z-index: 997;
    justify-content: start;
    align-items: center;
    background-color: #F2F1EB;
    /* background: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(10px); */
    animation: slideright .4s linear forwards;
}
.history-nav{
    all: unset;
    padding-left: 10%;
    padding-right: 12%;
    width: 70%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}
#history h2{
    font-size: 1.5vw;
}
#history button{
    width: 10vw;
    height: 5vh;
    border: 1px solid #AFC8AD;
    background-color: #AFC8AD;
    text-align: center;
}
.day{
    width: 80%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#history .day h3{
    width: 90%;
    height: max-content;
    font-size: 1.5vw;
    color: #AFC8AD;
}
#history .day table{
    width: 90%;
    max-height: 20vh;
    border-collapse: collapse;
    /* border: 1px solid white; */
}
#history .day th, #history .day td{
    /* border: 1px solid white; */
    height: 4vh;
    padding: 1vh;
    font-size: 1vw;
    text-align: start;
}
#history .day th{
    color: #AFC8AD;
}
#history td{
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#history td:first-child{
    border-left: none;
}
#history td:last-child{
    border-right: none;
}
#history button:hover{
    color: #AFC8AD;
    background-color: white;
    border: 1px solid #AFC8AD;
}
#report{
    position: absolute;
    left: 11vw;
    top: 12.5vh;
    width: 35vw;
    /* padding-left: 5vw; */
    height: 65vh;
    padding-bottom: 5vh;
    border-radius: 2vh;
    display: none;
    flex-direction: column;
    z-index: 997;
    justify-content: center;
    padding-top: 5vh;
    align-items: center;
    background-color: #F2F1EB;
    /* background: rgba(0, 0, 0, 0.205); */
    /* backdrop-filter: blur(10px); */
    animation: slideright .4s linear forwards;
}
#report h2{
    width: 30vw;
    font-size: 1vw;
    height: max-content;
    text-align: start;
}
#report h2:first-child{
    font-size: 1.5vw;
}
.buttons{
    width: 30vw;
    height: max-content;
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}
#report .faces{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}
#report span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vw;
    border-radius: 3px;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 4px 9px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#report span:active{
    transform: scale(0.9);
}
#report textarea{
    width: 30vw;
    height: 10vh;
    color: black;
    padding: 1vh;
    outline: 1px solid lightgray;
    border: none;
}
#report textarea:focus{
    outline: 1px solid #88AB8E;
    border: none;
}
#report button{
    width: 10vw;
    height: 5vh;
    border: 1px solid #AFC8AD;
    background-color: #AFC8AD;
    margin-top: 2vh;
}
#report button:hover{
    color: #88AB8E;
    background-color: white;
    border: 1px solid #88AB8E;
}
#report .consent{
    width: 30vw;
    height: 8vh;   
    display: flex;
    align-items: center;
}
#report .consent label{
    font-size: 2vh;
}
#settings{
    position: absolute;
    left: 15vw;
    top: 30vh;
    width: 24vw;
    height: 40vh;
    display: none;
    flex-direction: column;
    z-index: 997;
    justify-content: center;
    align-items: center;
    background-color: #F2F1EB;
    /* background: rgba(0, 0, 0, 0.205);
    backdrop-filter: blur(10px); */
    border-radius: 1vw;
    /* animation: slideright .4s linear forwards; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#settings .logout-btn{
    display: flex;
    column-gap: 1vw;
}
#settings button{
    width: 10vw;
    height: 5vh;
    border: 1px solid #AFC8AD;
    background-color: #AFC8AD;
    color: white;
    margin-top: 2vh;
}
#settings button:hover{ 
    color: #88AB8E;
    background-color: white;
    border: 1px solid #88AB8E;
}
#map{
    position: absolute;
    left: 46vw;
    height: 100vh;
    width: 54vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    z-index: 996;
    color: black;
}
.verification{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 999;
}
.verification form{
    width: 25vw;
    height: 35vh;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.verification form input{
    width: 20vw;
    height: 5vh;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.4);
    padding-left: 1.5vh;
}
.verification form input:focus{
    outline: none;
}
.verification form h1{
    font-size: 1.5vw;
}
.verification form p{
    font-size: 1vw;
    color: red;
}
.verification button{
    width: 20vw;
    height: 5vh;
    border: 1px solid #AFC8AD;
    background-color: #AFC8AD;
    margin-top: 2vh;
}
.verification button:hover{
    color: #88AB8E;
    background-color: white;
    border: 1px solid #88AB8E;
}

.error{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: none;
    height: max-content;
    padding: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: error 3s linear forwards;
    background-color: #ffffff;
    color: white;
}
nav, #home, #profile, #history, #report, #settings{
    background-color: #ffffff;
}
/* Animations */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes slideright {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes slideleft {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-13vw);
    }
}
@keyframes error {
    0% {
        top: -10vh;
    }
    25% {
        top: 0;
    }
    50% {
        top: 0;
    }
    75% {
        top: 0;
    }
    100% {
        top: -10vh;
    }
}