@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    color: black;
}
body{
    background-image: url(../images/pexels-moose-photos-1037992.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(249, 250, 251);
    background-blend-mode: darken;
}
nav{
    position: absolute;
    width:100vw;
    height:10vh;
    z-index: 100;
    background-color: white;
    border-bottom:1px solid lightgray;
}
nav img{
    width: 10vh;
    margin-left: 2vw;
    
}
.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 100vh;
}
.left p{
    text-align: start;
    margin-left: 0;
    width: 30vw;
    font-size: 1vw;
    font-weight: 400;
}
.left img{
    margin-top: 4vh;
    margin-right: 5vw;
    width: 25vw;
    height: auto;
}
.left h1{
    text-align: start;
    width: 30vw;
    margin-top: -15vh;
    font-size: 2vw;
    font-weight: 800;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
    width: 35vw;
    height: max-content;
    border-radius: 3vw;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.right .input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    height: max-content;
    margin-top: 3vh;
    margin-left: 5vw;
}

.right p{
    all: unset;
    width: 20vw;
    text-align: center;
    margin-top: 1vh;
    font-size: 1vw;
}
.right a{
    color: #000000;
}
.right h1{
    width: 20w;
    text-align: start;
    margin-left: 7vw;
}
.right h2{
    margin-top: 1vh;
    font-size: 1vw;
    font-weight: 300;
}
.right h3{
    all: unset;
    text-align: start;
    margin-left: 7vw;
    width: 20vw;
    margin-top: 1vh;
    font-size: .8vw;
    font-weight: 500;
}
.input h3{
    margin-left: unset;
}

button{
    border: none;
    width: 10vw;
    height: 5vh;
    margin-top: 3vh;
    background-color: #F9BEBA;
    color: white;
    font-weight: 500;
}
button:hover{
    transform: scale(.95);
    transition: all .5s;
}
input{
    width: 20vw;
    height: 5vh;
    margin-top: 1vh;
    padding-left: 1vw;
    color: black;
    border: 1px solid white;
}
input:focus{
    border: 1px solid #F9BEBA;
    outline: none;
}
.middle{
    display: none;
}
.error{
    min-width: 15vw;
    padding-left: 1vw;
    padding-right: 1vw;
    height: 7vh;
    display: none;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1vw;
    position: absolute;
    top: -7vh;
    left: 42.5vw;
    background-color: white;
    border: 1px solid black;
    z-index: 1000;
}
#google-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin-left: 5vw;
}

@keyframes slide-down{
    0%{
        transform: translateY(-100%);
    }
    25%{
        transform: translateY(100%);
    }
    75%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
@media screen and (max-width: 768px) {
    nav{
        display: none;
    }
    .container{
        align-items: center;
        background-size: cover;
    }
    .left{
        display: none;
    }
    .right{
        width: 70vw; 
        height: 80vh;
        margin-top: 8vh;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 4vh;
        padding-top: unset;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 2vh;
    }
    .right .input{
        width: 53vw;
        margin-top: 1vh;
    }
    .right img{
        display: none;
    }
    .right h1{
        font-size: 5vw;
        font-weight: 400;
        margin-top: 1vw;
        text-align: start;
        width: 54vw; 
    }
    .right p{
        margin-top: 1vh;
        font-size: 3vw;
    }
    h2{
        margin-top: 1vh;
        font-size: 4vw;
        font-weight: 300;
    }
    h3{
        margin-top: 1vh;
        font-size: 3vw;
        font-weight: 300;
    }
    
    button{
        border: none;
        width: 50vw;
        height: 5vh;
        margin-top: 2vh;
        background-color: #0e284f;
        color: white;
    }
    button:hover{
        transform: scale(.95);
        transition: all .5s;
    }
    input{
        width: 50vw;
        height: 5vh;
        margin-top: 1vh;
    }
    .middle{
        width: 80vw;
        height: 10vh;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;
    }
    .middle img{
        height: 10vw;
        margin-left: 5vw;
    }
    .middle h1{
        font-size: medium;
        margin-right: 5vw;
    }
}
